.container{    
    margin: auto 300px;
    /* height: 100%; */
    /* background-color: aliceblue; */
}
.ant-menu{
    background-color:transparent;
    font-size: large;
    font-weight: bold;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after{
    border-bottom-color: #6AAAC0 !important;
}
/* 选中菜单状态 */
.ant-menu-item-selected {
  background-color:transparent !important;
  color: #6AAAC0 !important;
}

/* 设置未选中菜单项鼠标滑过样式 */
.ant-menu-item-active {
  color: #fff;
}